[2019-08-26 05:11] Shadow4walker opened #4 "Files Not shown!"
Hello, it's a cool project but can u make it work! the Files Explorer Not working Couldn't See the Files I've tried to fix it but with no success I'm still new To avaloniaui

[2019-08-27 21:58] #4 closed

[2019-10-20 02:23] fallenwood opened #5 "System.InvalidOperationException"
[code]
at https://github.com/waliarubal/Jaya/blob/master/Jaya.Shared/Services/ServiceLocator.cs#L100 on startup

[2019-10-21 07:22] waliarubal commented on #5
Thanks @fallenwood  for the issue report. I will look at it, was implementing plugable system for file system providers. In middle of it, will fix it.

[2019-10-22 08:53] waliarubal commented on #5
@fallenwood please take latest from my repository. The issue has been fixed now, let me know if you see any problems.

[2019-10-22 08:53] #5 closed

[2019-10-24 13:17] waliarubal opened #8 "Implement Theme Switching"
Implement theme switching between light and dark.

[2019-10-24 18:39] kekekeks opened #9 "Use global menu and custom window border when platform supports global menu exporting"
Maximized window of adapted application:
![изображение](https://user-images.githubusercontent.com/1067584/67515083-9ec18f00-f6a6-11e9-90c4-8ad0ea588e98.png)

Maximized window of Jaya:
![изображение](https://user-images.githubusercontent.com/1067584/67515114-b4cf4f80-f6a6-11e9-80e2-bfde26ecb881.png)

[2019-10-24 18:59] waliarubal commented on #9
@kekekeks Do you have any example pointing such implementation? I will be glad to implement it. And thanks for taking a look at my project.

[2019-10-24 19:46] kekekeks commented on #9
Recent Avalonia builds have support for global menu integration. Such menu can be declared like this: https://github.com/AvaloniaUI/Avalonia/blob/7dc95d5644bd3b14d2760cb664599e24fc239344/samples/ControlCatalog/MainWindow.xaml#L12

There is also `NativeMenu.IsMenuExported` attached property that becomes true when there is platform support for the global menu bar.

For Linux the support for global m

[2019-10-25 09:19] #8 closed

[2019-10-30 17:57] waliarubal opened #10 "Implement Dropbox Plugin"
Add integration for Dropbox.

[2019-10-30 17:57] waliarubal opened #11 "Implement Google Drive Plugin"
Add integration for Google Drive.

[2019-10-31 04:27] waliarubal opened #12 "Ribbon Interface"
Implement ribbon interface like Windows explorer of Windows 10. Allow user to switch between classic menu and toolbar interface & new ribbon interface.

[2019-10-31 13:00] waliarubal opened #13 "Stack Overflow Exception"
Upgraded project to latest preview of 0.9 and now its completely broken.
Expanding or clicking on bound tree nodes give **stack overflow exception**. It was working very well with Avalonia 0.8.3 stable.

To reproduce follow below mentioned steps.

1. Clone project's 'master' branch.
2. Run it and on left hand side of navigation tree under 'File System' node, expand it to show your PC's node.
3. In

[2019-11-06 06:10] waliarubal commented on #12
Take logic for ribbon from https://github.com/amazerol/AvaloniaRibbon, improve it and use.

[2019-11-08 14:40] #10 closed

[2019-11-16 13:16] dorvan opened #14 "Dependencies on graphic servers"
Hello, there are dependencies on graphic servers, or it's possible to run in kernel mode set?

[2019-11-16 17:48] waliarubal commented on #14
Hello @dorvan , I am not that familiar with technalities of Linux or Mac systems but I am assuming you want to know if this app can run in console mode or it just has a UI.

If that's the case then this is an app with GUI only as of now, I haven't thought of console version yet.

Let me know if you have any doubts.

[2019-11-17 19:39] waliarubal opened #15 "Binding Issues"
Their are a lot of binding warnings appearing in the debug console at run time. Fix those as soon as possible.

[2019-11-17 21:03] waliarubal commented on #13
Fix suggested by Steven Kirk.

[2019-11-17 21:03] #13 closed

[2019-11-18 04:56] waliarubal commented on #14
I hope I have solved your question @dorvan . Please open issue again if you have any queries.

[2019-11-18 04:56] #14 closed

[2019-11-18 04:57] waliarubal opened #16 "Explorer Not Working"
Explorer stopped working after upgrading to 0.9 of Avalonia.

[2019-11-18 07:21] #16 closed

[2019-11-18 12:15] #11 closed

[2019-12-10 14:03] waliarubal opened #17 "Implement Apple iCloud Drive Plugin"
Implement plugin for Apple iCloud Drive. I don't have Mac hardware or knowledge about iCloud integration so this issue is open for anyone willing to contribute.

[2019-12-11 07:05] waliarubal opened #18 "Implement MediaFire Plugin"
Implement plugin to support MediaFire integration.

[2019-12-11 07:06] waliarubal opened #19 "Implement FTP Plugin"
Implement plugin to support FTP and SFTP protocols for server browsing.

[2019-12-17 16:39] furesoft opened #20 "format tool"
add a format drive tool that can be extended through plugins for custom filesystems

[2019-12-17 16:45] waliarubal commented on #20
Thanks @furesoft for the suggestion. I will surely extend the plugin API allowing developers to add format capabilities. You are welcome to contribute to the project!

[2019-12-19 15:06] waliarubal commented on #12
Implementing my own ribbon. Not taking reference from any existing project.

[2019-12-22 12:27] furesoft opened #21 "add updater"
add an updater with autoupdate option
i recommend to use nupdate

[2019-12-22 12:27] furesoft opened #22 "implement using shell extensions"

[2019-12-22 12:28] furesoft opened #23 "PluginInterface to add icon hover to file icon"
for sample: cloud sync status

[2019-12-22 12:30] furesoft opened #24 "add virtual file system like linux"
add a virtual filesystem option to register custom devices under a path

and map current drives into a folder like:

/media/sd1
/media/usb1

and add ability to map a device or folder into custom folder

or use this filesystem: https://github.com/xoofx/zio

[2019-12-24 08:19] waliarubal commented on #24
This can be an interesting feature to have @furesoft . Can you help with this?

[2019-12-24 08:20] waliarubal commented on #23
@furesoft , please add some more details or possibly an image indicating what you are requesting.

[2019-12-24 08:22] waliarubal commented on #22
As far as I can understand @furesoft  you want `Open With Jaya` context menu option in shell? If this is the thing you are looking for then its in pipeline.

[2019-12-24 08:23] waliarubal commented on #21
This is in my pipeline @furesoft . Thanks for mentioning about `nupdate`, I will have a look at it.

[2019-12-24 08:36] furesoft commented on #22
no, i mean that Jaya could understand shell extensions like in contextmenu.

[2019-12-24 08:37] furesoft commented on #23
something like a little icon over the file icon, for cloud sync it would be a circle for uploading and a checkmark that is uploaded

[2019-12-24 08:38] furesoft commented on #24
i can help with this if you want :D

[2019-12-24 09:04] furesoft commented on #24
should i implement our own virtual filesystem or could we use zio end extend it?

[2019-12-24 09:21] furesoft opened #25 "add a Plugin store"
to easily install plugins with a plugin manager

[2019-12-24 14:00] waliarubal commented on #25
This is a nice indeed, I have thought about adding a plugin manager just like Visual Studio.

[2019-12-25 07:43] furesoft commented on #25
you can use nuget as repository or host own nuget on a server

[2019-12-26 16:47] waliarubal commented on #25
This is interesting approach, are you aware of any nuget client library for pulling up packages from nuget?

[2019-12-27 05:16] waliarubal commented on #21
I am afraid nUpdate ain't having any UI for Avalonia. It just supports WinForms and WPF.

[2019-12-27 12:29] waliarubal opened #26 "Create Windows Installer"

[2019-12-27 12:30] waliarubal opened #27 "Create Linux Installer"

[2019-12-27 12:30] waliarubal opened #28 "Create Mac Installer"

[2020-01-01 10:06] furesoft opened #29 "double click on folder - navigation"
enable double click on a folder in items view to navigate to that folder

[2020-01-01 10:06] furesoft opened #30 "change Path"
enable to edit current Path in Breadcrumb

[2020-01-02 16:35] waliarubal commented on #29
Yeah, that is in pipeline. Earlier it was implemented which I had to comment out to get some things moving. Will be adding up soon enough.

I do have another critical issue to deal with related to Visual Studio designer support for a few Views. Let me know if you are interested in working on it. I'll create an issue and assign it to you @furesoft .

[2020-01-02 16:37] waliarubal commented on #30
Nice one, this is something which I have plans to implement. You seem to be interested in the project. Let me know if you are willing to help @furesoft.

You may drop me a message anytime on Gitter.

[2020-01-02 19:48] furesoft commented on #29
sorry i have to many other projects to work on

[2020-01-08 08:55] #29 closed, assigned to nobody

[2020-01-09 12:39] waliarubal commented on #12
Closing since most of feature changes have been added.

[2020-01-09 12:39] #12 closed

[2020-01-15 18:19] furesoft opened #31 "add search engine"
add a search engine with query syntax like

*.mp3 and creationdate > 20.01.2018

[2020-01-17 15:51] Splitwirez opened #32 "Add some kind of "Home"/"Start" page?"
After first building and opening Jaya, I was greeted by...a page, saying something to the effect of "This folder is empty". This doesn't seem like the clearest way to greet the user upon opening the app, so how about we start with a friendly overview of their various storage spaces? I've created a quick mockup of what this could look like below:

![](https://i.imgur.com/WikPTEZ.png)

I'll admit, i

[2020-01-17 15:54] Splitwirez commented on #32
...I was hoping to add the "Enhancement" label to this issue, but I don't seem to be able to at the moment.

[2020-01-19 16:46] furesoft commented on #20
ive found a simple code snippet to read/write raw data from/to devices. when this format tool is implemented i will implement filesystems on it

[https://github.com/micheleceo/disk-raw-data-interface](Snippet)

[2020-01-20 08:18] waliarubal commented on #32
This is indeed a great suggestion @Splitwirez . To be very frank, idea behind this project is to bring UI of Windows explorer cross platform with a lot of exiting features so don't feel bad about taking ideas from it. I will definately consider this as next feature in pipeline for v2.

PS: I have added appropriate permissions for everyone to add labels and modify stuff in repository.

[2020-01-20 08:20] waliarubal commented on #31
Interesting idea @furesoft , I will make search box functional and add documentation for plugin developers to support this syntax.

[2020-01-20 13:46] waliarubal commented on #20
@furesoft I have added API for allowing user to format an account/directory. Will be adding UI button to invoke it as well soon enough, you are free to implement format code in your plugins.

I am not sure if https://github.com/micheleceo/disk-raw-data-interface is a cross platform solution or not. Does it work with Windows, Mac and Linux?

[2020-01-20 15:09] furesoft commented on #20
i dont know though

[2020-01-21 18:04] Splitwirez opened #33 "Tabs"
Title says it all. Many Windows users want tabs in File Explorer, so if Jaya delivered such functionality in an otherwise similar program, that could be a major win for appeal to Windows users.

Additionally, IIUC tabs are already fairly commonplace on macOS and Linux, so I'd imagine such a feature would be welcome - perhaps even expected - on those platforms as well.

I'd say taking an approach t

[2020-01-22 07:06] waliarubal commented on #33
Hmmm.... interesting idea @Splitwirez . Actually I thought about this long ago but never got a chance to document it anywhere. Thanks for filing it as an issue, now this idea won't be lost in the sands of time.

Tab stuff is a must have for such a software to reach out more users in an appealing way.

[2020-01-28 20:28] roblthegreat opened #34 "Enhancement - Implement "Alfresco" as a Provider Plug-in"
I'd like to suggest the implementation of an Alfresco provider plug-in.  Alfresco is an open source enterprise content management system / document management system with REST API to allow implementation of 3rd party clients.

[Alfresco REST API](https://docs.alfresco.com/community/pra/1/topics/pra-welcome.html) -- for reference.

[2020-01-29 09:07] waliarubal commented on #34
@roblthegreat do you have a deployed Alfresco server where I can test the implementation during implementation?

[2020-02-03 14:03] #19 closed, assigned to waliarubal

[2020-02-03 18:15] waliarubal opened #35 "Duplicate Initial Node"
When a new account is added under a provider, two similar nodes appear in navigation view. This happens for the first time only. On subsequent loads, this issue is not observed.

[2020-02-05 12:29] #26 closed, assigned to waliarubal

[2020-02-05 17:15] waliarubal commented on #25
Not thinking to create plugin store as of now. Sticking to XCopy style deployments. May revisit this in future.

[2020-02-05 17:15] #25 closed, assigned to nobody

[2020-05-15 11:32] giorgiozoppi opened #53 "S3 support for Jaya"
I might interested in contributing adding the support for S3 Buckets in Jaya.Which actions should I do?

[2020-05-17 21:49] waliarubal commented on #53
Hi @giorgiozoppi ,

Its very nice to know that smart people like yourself have come up to support this project in development respect. I call all the external service support as "File System Provider" (you can call it a plugin), so if you are interested in implementing a provider for Amazon S#, check an existing implementation for the same. I would suggest looking at support for Google Drive [here

[2020-05-22 08:47] giorgiozoppi commented on #53
Ok. I tried finally in my pause. It looks that it doens't support yet netcore 3.1. Any hint to fix this?

/usr/share/dotnet/dotnet /repo/opensource/Jaya/src/Jaya.Ui/bin/Debug/netcoreapp3.1/Jaya.Ui.dll
Unhandled exception. TinyIoC.TinyIoCResolutionException: Unable to resolve type: Jaya.Shared.Services.IService
   at TinyIoC.TinyIoCContainer.ResolveInternal(TypeRegistration registration, NamedParam

[2020-05-22 08:48] giorgiozoppi commented on #53
As well unit tests are missing. it would improve a lot the project. Is it possible branch for  .NET Core 3 and adapt your version for just .net core 3. If you support me, we can improve it a lot and doing a os replacement for cyberduck/expandrive.

[2020-05-23 04:41] waliarubal commented on #53
So the project does support .NET core 3.1, in fact it targets that. The issue you are seeing is because of I was trying out different IoC containers for it and my work is in the middle and it's broken at the moment. I will fix the IoC stuff and message you so this error will go away and you can continue on improving the project.

Well you are correct @giorgiozoppi , unit tests will improve it to a

[2020-05-23 14:37] giorgiozoppi commented on #53
We don't need a TinyIoC container, .NET Core has its own dependency injection. https://andrewlock.net/using-dependency-injection-in-a-net-core-console-application/  I start learn the code.

[2020-05-23 14:46] waliarubal commented on #53
Thanks @giorgiozoppi for the link. We can stick to using internal DI of .NET core without using any other DI infrastructure. Earlier I was using MEF for the same. Please go ahead and research on how to use the internal DI to load assemblies and register their types on runtime since it's a pluggable application so we need to make sure all the plugins load automatically from a directory. This will e

[2020-05-23 14:52] giorgiozoppi commented on #53
i am trying to figure out this, please feel free to open a slack channel. for further discussion

[2020-05-23 20:08] waliarubal commented on #53
@giorgiozoppi we can discuss more on [Gitter Chat](https://gitter.im/JayaCrossPlat/Jaya).

[2020-05-23 21:11] waliarubal opened #57 "Style Separator Like Windows Explorer"
Current separator has three visual dots for dragging and a background. Separator needs restyling to make it more like Windows 10 explorer's separator. Below are screenshots of current separator UI.

![image](https://user-images.githubusercontent.com/20422731/82740579-bad5fd80-9d67-11ea-90d8-2bc787d53041.png)
![image](https://user-images.githubusercontent.com/20422731/82740587-d9d48f80-9d67-11ea-96

[2020-05-24 11:14] giorgiozoppi commented on #53
@waliarubal  the pull request for DI is ready

[2020-05-24 19:43] #57 closed, assigned to Splitwirez

[2020-05-24 20:23] giorgiozoppi opened #59 "Add licensing in the files."

[2020-05-24 21:09] waliarubal commented on #59
You mean to say license header in each CS file?

[2020-05-24 21:54] giorgiozoppi commented on #59
yes.

[2020-05-25 21:41] Splitwirez opened #60 "Restyle caption buttons"
Expectation: ![Windows 10-style caption buttons](https://user-images.githubusercontent.com/34009058/82844498-bd8f3a80-9eae-11ea-9a03-c01f1cfdbdb8.png)

Reality: ![Jaya caption buttons](https://user-images.githubusercontent.com/34009058/82844544-dd266300-9eae-11ea-9245-be29b6d08977.png)

[2020-05-25 21:44] Splitwirez opened #61 "Navigation bar isn't poofy enough"
Jaya's navigation bar is fairly slim, much like that of File Explorer as seen in Windows 7, 8.1, and older versions of Windows 10:
![image](https://user-images.githubusercontent.com/34009058/82844642-3a221900-9eaf-11ea-8cf4-33a58adf1e4e.png)

Meanwhile, current Windows 10 File Explorer's navigation bar is substantially poofier:
![image](https://user-images.githubusercontent.com/34009058/82844630-2

[2020-05-26 14:15] giorgiozoppi commented on #27
https://stackoverflow.com/questions/46809219/net-core-2-0-application-published-as-deb-file
For debian projects.

[2020-05-26 16:51] Splitwirez commented on #33
![](https://i.imgur.com/Y6AK7SK.png)

Here's that mockup, containing my proposed tab design, among other things.

[2020-05-26 16:53] Splitwirez opened #62 "Refine GUI look and feel?"
Currently, Jaya uses the default Avalonia theme as its default theme. Personally, I think we could do better. Normally my taste is stuck in 2003, but I decided to try to put that aside, and created this mockup:
![](https://i.imgur.com/Y6AK7SK.png)
I was aiming for a more refined version of what Windows 10's File Explorer seems to be going for. Thoughts?

(also no, I'm *not* suggesting we steal Win

[2020-05-26 16:54] Splitwirez commented on #32
![](https://i.imgur.com/Y6AK7SK.png)
This mockup has a more...refined potential design for this start page thing.

[2020-05-26 17:00] waliarubal opened #63 "Plugins Are Not Showing"
Plugins are not showing up in application after switching to .NET Core's DI.

[2020-05-26 19:13] #60 closed, assigned to Splitwirez

[2020-05-26 22:13] #63 closed, assigned to waliarubal

[2020-05-27 05:47] waliarubal commented on #27
Nice @giorgiozoppi , we can have a look at it and see how reliable this tool is for generating debian and redhat packages.

[2020-05-27 06:37] giorgiozoppi opened #64 "DI Broken"
Current DI doesn't load plugins. Could you give it a check as well?

[2020-05-27 19:13] waliarubal commented on #64
@giorgiozoppi  I fixed DI yesterday to load plugins, see screenshots below with plugins loaded in various windows.
![Main Window](https://user-images.githubusercontent.com/20422731/83062144-d13bcc00-a07b-11ea-8809-2b25c775c641.png)
![Plugin Manager](https://user-images.githubusercontent.com/20422731/83062191-df89e800-a07b-11ea-9f23-3aca544b4125.png)

Please pull latest code from 'dev' branch, test

[2020-05-27 19:17] waliarubal opened #65 "Move to GitHub Actions from AppVeyor for CI"
Earlier GitHub Actions was not available and since its launch it has expanded its horizon as a CI SaaS to support Windows, Mac and Linux for build machines. Now it makes no sense to stick around with AppVeyor since as of my personal opinion keeping everything on one platform will make things fast.

[2020-05-27 19:36] giorgiozoppi commented on #64
Great job.

[2020-05-27 19:36] #64 closed, assigned to waliarubal

[2020-05-27 19:39] giorgiozoppi commented on #62
Install something like expandrive or cyberduck and see the differencies.  I miss something but i don't know.

[2020-05-27 19:44] #59 closed, assigned to waliarubal

[2020-05-27 20:01] waliarubal opened #66 "New Logo Design"
The current logo for the project doesn't align with the motto of a file system manager. Put in some design ideas and create a new logo which better expresses project's meaning at the very first glance.

![Logo](https://user-images.githubusercontent.com/20422731/83067123-bbcaa000-a083-11ea-8487-efc0360d6f80.png)

[2020-05-27 20:04] Splitwirez commented on #66
![](https://i.imgur.com/c0VPIb9.png) here's the initial experiment I showed on Gitter the other day. I'll continue playing around with this and see what I can come up with.

[2020-05-27 20:16] giorgiozoppi commented on #53
i started working on this using GoogleDrive as model, but it is a bit different. I added the skeleton and dependencies.

[2020-05-27 20:50] giorgiozoppi commented on #27
i tried, theoretically that plugin should create any kind of package out of the box. I have to see better how to do very clean, currently appear as 0.0.0.0. too weird.

[2020-05-27 20:53] giorgiozoppi opened #67 "Remove a slider and refine the review"
The GUI has three sliders..is misleading. It is better having a preview below, as well the review should be based on mime type and as icon.

[2020-05-27 20:57] giorgiozoppi commented on #32
IMHO three areas are misleading. Just two. If you really need to show infos you can do in a bar below.

[2020-05-27 20:59] giorgiozoppi opened #68 "Hook for mimetype"
I would expect when i click on a file, be asked to open with a mime file or if the plugin is remote (dropbox/drive/s3) to download, i.e.
In the filesystem:
- when i click on image i'll open a default image viewer
- when i click on a video i'll open the default video player.
In a remote whenever i will click, it will show a popup asking me for download.

[2020-05-27 21:51] waliarubal commented on #27
Well if you are talking about the version number of binaries, its generated automatically by build system. You can check the build script for the same. I am anyhow planning to move from AppVeyor which is the current build system to GitHub Actions. Would prefer matrix runs so that all the three platform installers can be generated simultaneously.

[2020-05-27 21:52] waliarubal commented on #67
Can you please elaborate on what you are trying to convey by putting some screenshots?

[2020-05-27 21:54] waliarubal commented on #68
Yes, this is exactly the behavior which is planned. I will definitely plan API changes for allowing the plugin developers to implement hooking up the same.

[2020-05-27 21:58] waliarubal commented on #53
Nice, looking forward to your implementation. I am not having any S3 account to test the same so completely relying on your good work.

Apart from this I had to do some adjustments to code you had put in for DI to make it work with plugins. Maybe someday I will sit and write down architectural documents for the project. FYI, I am currently working on VM Locator also which will allow dynamic bindin

[2020-05-27 22:01] waliarubal commented on #53
Just to mention, when you are working on an issue make sure you move it to "In Progress" column in project management and to "Done" column when its over and closed. This shall provide more insight to other contributors working on the project just in case to prevent two people picking up the same issue to work upon simultaneously.

[2020-05-27 22:44] Splitwirez commented on #62
Er...CyberDuck seems to just use standard Windows visual styles, and ExpanDrive literally inserts itself into File Explorer...are you implying we should try to mimic Windows 10's appearance *exactly*?

[2020-05-28 06:21] giorgiozoppi commented on #62
No, we should evaluate the competitors and see what strategy fits better to us. So i will ask you a reserarch on different file manager and produce a kind of presentation. Does it make sense?

[2020-05-28 07:13] giorgiozoppi commented on #67
![simple](https://user-images.githubusercontent.com/27227826/83110288-1fc08900-a0c3-11ea-91f6-7a5b31768354.png)
Something simple, immediate to look and user. We all should buy this book and read https://www.youtube.com/watch?v=vBzBgewl4ac
@Splitwirez As user i don't want to think and if it is possible i want use the minimum number of
keystroke and clicks to getting the job done.

[2020-05-28 07:54] giorgiozoppi commented on #66
Good

[2020-05-28 07:56] giorgiozoppi opened #69 "Azure Blob Storage Plugin."
Implement Azure Blob Storage Plugin.

[2020-05-28 20:03] Splitwirez commented on #66
![](https://i.imgur.com/BJTAKH2.png)
Tried the previously-discussed blue folder approach...thoughts?

[2020-05-29 05:25] sobirul commented on #66
Do you need a  professional #logo for your business?
Contact me anytime.

[2020-05-29 05:56] waliarubal commented on #66
@sobirul yes we need a professional logo but point being since this is an open source project and non profit as of now, will you do it in god faith (free) in exchange for your name (and contact info) in credits, will be free back link to your website.

Seriously speaking, the current logo we have was done by a Fiver freelancer for 500INR and I was not happy about it even after a couple of iteratio

[2020-05-29 06:05] waliarubal commented on #62
Yeah, this makes sense but as of now we are just 3 people on this project unless we have someone willing to conduct extensive market research to rule out good features from file managers in market which we shall also provide. The initial inspiration for me was Windows 10 file manager as of in UI and feature set it provides, so we have been trying to take in research what MS has already done for us

[2020-05-29 14:29] Splitwirez commented on #62
True...but this particular issue post isn't about features. It's just about the app's appearance.

Do you two want Jaya to be visually pleasing, or is that just me?

[2020-05-29 15:33] Splitwirez commented on #66
So...am I to continue working on logo variants, or is @sobirul taking over on that?

[2020-05-29 15:34] sobirul commented on #66
Yes I can do that

[2020-05-29 15:35] #61 closed, assigned to Splitwirez

[2020-05-29 15:36] sobirul commented on #66
But not for free,you have to give me a minimum payment

[2020-05-29 15:42] waliarubal commented on #66
@Splitwirez seems like @sobirul is looking for payment. Let's see what is he looking for.

@sobirul what is the minimum payment you are looking for?

[2020-05-29 15:43] Splitwirez commented on #66
@waliarubal https://www.fiverr.com/sobir1430 take a look at his/her/its/their fiverr page. Idk if that's the rate he'd/she'd/it'd/they'd be charging us, but the example logos seem...promising, at least IMO.

[2020-05-29 15:44] Splitwirez commented on #66
![image](https://user-images.githubusercontent.com/34009058/83278491-b1062d00-a1a1-11ea-9e08-34e422515bf1.png)
I especially like this one - it just...seems right. (I don't know what PixelCloud is, admittedly...)

[2020-05-29 15:49] waliarubal commented on #66
[This](https://www.fiverr.com/usashi) is the freelancer I hired earlier for 500 INR to design logo which I was not satisfied with.

Pixel cloud looks good, we never know what will @sobirul  charge us?

[2020-05-29 15:55] waliarubal commented on #62
Well I want it to be visually pleasing just like Windows 10 file explorer. People do care about UI and UX. Well, that's my take of it.

[2020-05-29 16:00] sobirul commented on #66
Contact me on WhatsApp,
+8801677853856

[2020-05-29 16:34] Splitwirez commented on #62
Hm...I'd like if we could all agree on a single design to aim for, as that would allow me to get started and know exactly what I'm working towards. Does that make sense to you?

[2020-05-29 17:30] Splitwirez commented on #62
An alternative proposed style was raised on Gitter: ![](https://docs.microsoft.com/it-it/azure/media/vs-azure-tools-storage-manage-with-storage-explorer/overview.png)

I'll be preparing a Jaya mockup based on this look fairly soon.

[2020-05-29 21:03] Splitwirez commented on #62
![](https://i.imgur.com/tg1vZFZ.png) corresponding mockup, as promised.

[2020-05-29 21:25] giorgiozoppi commented on #62
@Splitwirez this is far better. I will put optional recent files in order to have more space.

[2020-05-30 13:30] giorgiozoppi commented on #53
@waliarubal  i will provide you access to amazon and credential for testing as soon as the feature is finished.

[2020-05-30 14:35] waliarubal commented on #53
Okay, nice.

[2020-06-01 08:55] waliarubal commented on #62
@Splitwirez this seems to me perfect solution for presenting tabbed interface. We may put up some minor tweaks, excellent for starting things up. Nicely done, what about the dark theme part of it?

Dark is the new blew these days!

[2020-06-01 08:59] waliarubal commented on #62
@Splitwirez  and what about the toolbar interface which we are already providing? Will that be included?

[2020-06-01 13:09] Splitwirez commented on #62
Excellent. Now that you've approved the light theme, I'll get started on a corresponding dark variant.

I definitely think we should keep the Toolbar option...though I think there's ample room for improvement over Jaya's existing Toolbar UI. I guess that's another mockup for me to make.

[2020-06-01 14:29] Splitwirez commented on #62
![](https://i.imgur.com/d0JwkLi.png)

How does this look for the dark variant?

[2020-06-01 14:40] Splitwirez opened #70 "Additional folder views"
Windows's File Explorer has a variety of folder view modes, as shown below:
![image](https://user-images.githubusercontent.com/34009058/83419857-c2df0e80-a3f3-11ea-8bb0-a973c633d30e.png)
Additionally, the Small/Medium/Large/Extra large Icons views are merely presets - the size of the icons in that view can be set arbitrarily anywhere between 16x and (I think) either 256x or 512x. Not only this, bu

[2020-06-01 14:48] Splitwirez opened #71 "Display proper file icons"
Currently, Jaya displays its own generic icons for files, folders, drives, etc.. I think it would be better to show the platform-provided icon wherever possible - this would allow, for example, different file types to show an icon corresponding to the program they are associated with, as is the case in Windows's own File Explorer.

Additionally, we should optionally be able to show thumbnails for

[2020-06-01 14:56] Splitwirez commented on #15
I took a look at some of those binding errors, and honestly, I'm starting to think some of these binding warnings/errors may be on Avalonia itself, not on us. We should probably reach out to the Avalonia team to confirm that.

[2020-06-01 15:07] Splitwirez opened #72 "Include current directory name in window title"
File Explorer shows the current folder's name in the title of its windows. This feature is extremely useful, since it makes it easier to identify the windows in the ALT+TAB dialog and the Taskbar thumbnail previews. Since we're not File Explorer, we could do something like "My Documents - Jaya", for example, similar to how many web browsers append their names to the end of their windows' titles, a

[2020-06-01 15:13] waliarubal commented on #62
This seems OK to me, what about yourself @giorgiozoppi?

[2020-06-01 15:13] giorgiozoppi commented on #62
@waliarubal ok

[2020-06-01 20:24] waliarubal opened #73 "Implement ViewModel Locator"
Implement a view model locator to enable easy discovery and binding of view models with views.

[2020-06-02 08:37] #73 closed, assigned to waliarubal

[2020-06-02 08:51] waliarubal commented on #15
Long back I spoke to @Gillibald regarding some issue I was facing, I don't clearly remember what he said but he mentioned that I should get all of these removed. In fact he was the one to report these issues while he was helping out.

[2020-06-02 09:50] waliarubal commented on #72
Hi @Splitwirez , this feature has been already implemented. See some screenshots below, examine the title bar and see folder names are already there. Let me know if you are referring to something else.

![image](https://user-images.githubusercontent.com/20422731/83506090-4ed06380-a4e4-11ea-9bc8-b12a4f350f0b.png)

![image](https://user-images.githubusercontent.com/20422731/83506154-67407e00-a4e4-11

[2020-06-02 11:07] Splitwirez commented on #72
My bad...for some reason I thought this hadn't already been implemented..Just double-checked...I was mistaken. Woops -._.-

[2020-06-02 11:07] #72 closed, assigned to waliarubal

[2020-06-02 18:31] Splitwirez commented on #66
![](https://i.imgur.com/jpHYjdc.png)
@waliarubal How's this?

[2020-06-02 18:51] Splitwirez opened #75 "User-driven skinning"
As previously discussed, I think we should allow the user to create and compile their own skins for Jaya File Manager - some people may not be fond of its default look and feel, so by allowing skinning, we enable the user to customize Jaya's appearance pretty much to their heart's content, as long as we do a good job of it.

@waliarubal We agreed that if this was implemented at all, it would be a

[2020-06-02 19:11] waliarubal commented on #66
what does that gray curvy thing signify?

[2020-06-02 21:06] waliarubal commented on #75
@Splitwirez  That's correct, we will provide a customization screen in app settings where user will be able to tweak all parts of UI including colors, background, etc.

[2020-06-02 21:12] Splitwirez commented on #75
@waliarubal I don't just mean colours and images. I'm suggesting letting the user write XAML, compile it into an assembly, and load that. Like what File Commander was going to do.

[2020-06-02 21:34] Splitwirez commented on #66
![Icon8-256x](https://user-images.githubusercontent.com/34009058/83572254-3ae22d00-a4f7-11ea-9e8a-e90bce3b5104.png)
Alright, I guess we've got our winning design.

[2020-06-02 21:56] waliarubal commented on #66
Nice!!! Great job @Splitwirez .

[2020-06-02 21:57] #66 closed, assigned to Splitwirez

[2020-06-03 00:58] Splitwirez commented on #62
Alrighty, here's the winning pair of mockups:
![](https://i.imgur.com/Y6AK7SK.png)
![](https://i.imgur.com/1hlWaMW.png)
I'll be starting work on implementing this look now.

[2020-06-03 01:18] Splitwirez opened #76 "Allow disabling default storage sources"
Strange as this may sound, not everyone is going to want all of the storage sources Jaya currently includes. They may not use DropBox, for example. I think we should allow the user to turn these storage sources off, to accomodate this need.

[2020-06-03 12:48] waliarubal commented on #76
This is in my mind, I will extend the plugin (storage source providers) infrastructure to enable/disable them via settings.

[2020-06-03 13:25] Splitwirez commented on #76
Excellent. I think onscreen ToggleSwitches next to the entries in the Plugins list would be a good approach for exposing the option to the user in the UI.

[2020-06-03 13:27] Splitwirez opened #77 "Allow multiple windows"
Jaya needs to allow multiple windows to coexist. I'm not convinced that separate processes for each is the best approach, partly because https://github.com/waliarubal/Jaya/issues/33 means we'd need to allow the user to 'drag' tabs between separate windows.

[2020-06-03 14:20] Splitwirez commented on #75
Recap from discussion over Skype: The idea of implementing colour and background image customization as options for the default skin, rather than for Jaya itself, was discussed. This would allow both 'easy' and 'in-depth' customization to coexist, without forcing all skins to support these extra features.

[2020-06-03 15:27] waliarubal commented on #76
Can you style checkbox to look like toggle switch?

[2020-06-03 15:30] waliarubal commented on #77
So this is something apart from Tabs? I was under an impression to make the app single process for now.

[2020-06-03 15:31] Splitwirez commented on #76
ToggleSwitches are functionally different from CheckBoxes - you can drag/swipe a ToggleSwitch to the left or right end to explicitly set it to one state or the other, which is not true of CheckBoxes. I already intend to port my WPF ToggleSwitch control to Avalonia for my Mechanism library, so perhaps we could use that implementation once it takes shape?

[2020-06-03 15:38] waliarubal commented on #76
Okay, we just need true and false state of it. Checkbox has an intermediate too which won't be of any use for us in this implementation. I will achieve this with checkbox for now which we can replace with switch control once you have done it.

But I pretty much feel that checkbox can be styled as switch based on IsChecked property ignoring the intermediate state or treating it as false.

[2020-06-03 15:40] Splitwirez commented on #76
That should work for now, yes.

[2020-06-03 18:40] Splitwirez commented on #77
I think using a single process for all active Jaya windows would be a good idea, yes.

To clarify what I was referring to...in Firefox, for example, you can drag tabs from one window to a new or existing window, like this: https://www.youtube.com/watch?v=yecyFamSh6c

[2020-06-05 09:55] waliarubal commented on #53
@giorgiozoppi I was wondering if you got chance to work on completing S3 support?

[2020-06-05 09:58] giorgiozoppi commented on #53
Not yet. Busy week. I need to add few things and testing. I will do this night.

[2020-06-08 00:48] Splitwirez opened #84 "Add favorites list"
File Explorer has this:
![image](https://user-images.githubusercontent.com/34009058/83983905-0a87fd80-a900-11ea-882c-893405b120cf.png)
the user can add or remove whatever folders they want from it.

We need this feature. I think it belongs under v1.0, as it's kind of a must for many users.

[2020-06-08 23:52] Splitwirez opened #85 "Three potential tiers of customization/personalization"
Lowest tier: Custom colour scheme + header image
Middle tier: Custom XAML skinning
Highest tier: Custom front-end

...I guess these would probably be implemented in post-release updates from smallest to largest (if at all)?

[2020-06-10 05:01] waliarubal commented on #85
That's correct, you have outlined the tiers correctly. For v1 it would be a lot of tasks to deal with, we can work things up in coming releases.

[2020-06-10 05:03] waliarubal commented on #85
This is dependent on #75

[2020-06-13 16:38] Splitwirez opened #86 "Rethink Toolbars/Menu bar organization"
Currently, Jaya's Toolbar and Menu bar look like this:
![image](https://user-images.githubusercontent.com/34009058/84573780-b1412380-ad70-11ea-81b3-af1af2366d07.png)

For comparison, Windows XP's File Explorer's Toolbar and Menu bar look like this:
![image](https://user-images.githubusercontent.com/34009058/84573807-c3bb5d00-ad70-11ea-99d0-db82c8f7e14a.png)

In Windows XP's case, the most frequent

[2020-06-13 16:42] waliarubal commented on #86
What I am thinking is that we can keep the address bar (navigation bar) as is and put more used commands as you are suggesting. As MS is doing, but the fact being what all ribbon has to offer is many more commands than the toolbar XP had. What to you think @Splitwirez ?

[2020-06-13 16:52] Splitwirez commented on #86
I mean...I guess we *could* do that sort of, but doing so would prevent our current GUI from being able to properly mimick Windows XP's, which I think would be a major loss - I know it may seem strange to want to imitate that, but I've seen that there is *definitely* a market for such a thing. Is there a reason why you wanted to keep the navigation bar as-is? If so, I'd like to hear what it is bef

[2020-06-14 10:29] waliarubal commented on #86
I would say we should take ideas from XP's UI but not mimic it completely. We should keep things modern. Regarding allowing users to customize the UI commands is something which should be present for ribbon also, not just toolbars.

[2020-06-25 09:42] Splitwirez opened #88 "Command bar UI"
I've been wondering if perhaps we should include a Windows 7-like Command Bar + Menu Bar UI in v1.0, and leave the Windows XP-style Toolbar UI for later.
![image](https://user-images.githubusercontent.com/34009058/85696017-8d51dc00-b6a6-11ea-8ee2-4de54ed4d62c.png)
(the Menu Bar portion is hidden except when in use, made visible by tapping the ALT key...though this particular behavior is optional i

[2020-06-26 09:21] waliarubal commented on #88
I propose replacement of menu-toolbar interface in favor of this. It looks cleaner and includes both menu and toolbars in a well presented manner.

[2020-06-30 15:43] Splitwirez commented on #88
For now, I think that's a good plan, though in the long run I'd like to bring the ToolBars back in, probably in a post-release update or something. I guess we'll discuss that when the time comes.

[2020-09-01 16:47] Splitwirez opened #92 "Possible Filesystem disorganization on Linux?"
So I've finally switched over to Linux, and upon building and running Jaya, I was greeted by this mess:

![Screenshot_20200901_124231](https://user-images.githubusercontent.com/34009058/91882313-c5e6d680-ec50-11ea-8d3d-dfa5de7c0d66.png)

...is this the intended result?

[2020-09-01 17:18] waliarubal commented on #92
Seems to me its showing all mount points. This is not at all intended, most likely code needs to be done to just show only removable and fixed media.

[2020-09-01 18:40] Splitwirez commented on #92
Okay, glad to hear it's at least clear to you *what* the problem is...I wouldn't have had the slightest clue, lol

[2020-09-03 19:46] Splitwirez commented on #92
Decided to experiment with fixing this. In `Jaya.Provider.FileSystem/Services/FileSystemService.cs`, replacing the `GetDirectoryAsync` function with the following:

[code]
Seems to produce more desirable results. Is this an acceptable solution?

[2020-09-04 06:11] waliarubal commented on #92
It should be acceptable if you have tested it with Windows and Mac. If this piece works there without any issues then it should be no problem at all.

[2020-09-04 11:49] Splitwirez commented on #92
Just tested and can verify that it works without a hitch on Windows. Unfortunately, I have no means of testing on macOS...didn't you say you'd picked up an old macbook or something not too long ago?

[2020-09-07 08:42] waliarubal commented on #92
I picked up a new MacMini 2014 model in July. Will test it on that. Please add your code and push it to the repository since you have access.

[2020-09-07 15:45] Splitwirez commented on #92
Okay, done. Looking forward to those test results.

[2020-09-10 10:54] Splitwirez commented on #85
![image](https://i.imgur.com/v0Z5Zsa.png)
Just leaving this here as food for thought for the long run

[2020-09-22 11:15] MikeyFriedChicken opened #93 "Need to skip unsupported drives in FileSystemService.cs"
Need to skip unsupported drives in https://github.com/nullvoid-creations/Jaya/blob/dev/src/Jaya.Provider.FileSystem/Services/FileSystemService.cs

Add a try catch like below.  This is because for say mapped google drive stream drives driveInfo.TotalSize will fail the whole process.

                            try
                            {
                                if (!driveInfo.IsReady

[2020-09-23 04:52] waliarubal commented on #93
Thanks Mike, I'll try it out.

Thanks and Regards
Rubal Walia
(Microsoft Certified Professional)
*Phone:* +91-992-889-3416
*E-mail:* walia.rubal@gmail.com, walia.rubal@rocketmail.com
*Skype:* walia.rubal
*Web:* https://www.waliarubal.com/

On Tue, 22 Sep 2020 at 16:45, Michael Ceber <notifications@github.com>
wrote:

[2020-09-25 03:16] socialpercon opened #94 "i can't find release file"

[2020-09-25 12:49] waliarubal commented on #94
@socialpercon Its because build system is not functional yet. You will have to compile the app from source to generate binaries. We are working on getting releases up to pace at the moment.

[2021-03-20 16:26] jarno9981 opened #95 "Add one drive support"
Add api for one drive support,    use the rest api from appel to add icloud drive

[2021-03-25 11:50] nlogozzo commented on #95
+1 OneDrive support

[2021-03-25 11:51] nlogozzo commented on #95
Especially for us here on linux, this would be a major drive for people to use this file manager!

[2021-03-30 05:53] waliarubal commented on #95
@nlogozzo @jarno9981 Thanks for your interest in OneDrive support. I will definitely put this is my pipeline for the next major release. We are currently working on getting the app updated for latest version of UI library (Avalonia).

[2021-05-15 08:40] maifeeulasad opened #96 "Wiki regarding build"
I was looking for some wiki or readme, to guide me through building this project. But couldn't find any.

I have plan to play with it in Linux-Ubuntu.

[2021-05-15 08:47] maifeeulasad opened #97 "'Ribbon.OnPropertyChanged(AvaloniaPropertyChangedEventArgs)': no suitable method found to override"
I was trying to build it in ubuntu, my command was `dotnet build`, here is the output :
[code]

[2021-05-15 15:22] waliarubal commented on #96
Hello, you can contact me on Skype. Look for ***@***.*** account,
I'll assist.

On Sat, 15 May, 2021, 2:10 pm Maifee Ul Asad, ***@***.***>
wrote:

[2021-05-15 15:23] waliarubal commented on #97
A member of our team manages the Ribbon we are using. He is currently
porting ribbon to latest version of Avalonia.

On Sat, 15 May, 2021, 2:17 pm Maifee Ul Asad, ***@***.***>
wrote:

[2021-05-15 18:54] waliarubal commented on #97
Hello @Splitwirez can you have a look at this and guide @maifeeulasad? I feel this is because you are still porting ribbon to latest Avalonia.

[2021-05-15 21:29] Splitwirez commented on #97
@maifeeulasad Try building this branch: https://github.com/nullvoid-creations/Jaya/tree/avalonia-0.10

[2021-05-16 07:50] maifeeulasad commented on #97
@Splitwirez thanks, successfully build from that branch.
But how do you develop in ubuntu, can you share your methodologies, please?

[2021-05-16 20:05] Splitwirez commented on #97
Glad to hear it :+1:

I...use VS Code. It's not great, but it gets the job done. Is that what you meant...?

[2021-05-18 01:32] maifeeulasad commented on #97
@Splitwirez , how do you run in vs code, can you share your configurations please? and some screen-record would be way more helpful if you would.

[2021-06-02 21:29] waliarubal commented on #97
@Splitwirez any luck with porting this app to 0.10 of Avalonia?

[2021-06-02 21:55] Splitwirez commented on #97
@waliarubal Not much forward movement, been spread a bit thin...as-is, it *mostly* works, but...
- Populating sub-items in the navigation tree is still busted...not sure what's broken there. (I think we may need you to take a look at that, as you know that stuff better than I do)
- I haven't updated the Ribbon styles yet (I wanted to talk to you about that...y'know, given how Avalonia now has its

[2021-06-04 13:47] maifeeulasad opened #98 "Unhandled exception. System.InvalidOperationException: The Style already has a parent."
I tried to run the UI project with **`dotnet run --project Jaya.Ui`**

And I got the following error :
[code]

[2021-06-04 13:50] maifeeulasad commented on #97
After upgrading dotnet SDK to 5, specifically to `5.0.300`, the error got resolved. It got built but facing new errors. Like running the project. Which one should I run and others, like : https://github.com/nullvoid-creations/Jaya/issues/98

[2021-06-05 17:24] waliarubal commented on #97
@Splitwirez I was thinking to redo the whole UI just with default stuff which Avalonia is providing now. Its just a thought since it will involve a lot of work and I still am undertaking paying side projects. Avalonia has come a long way since we started this project, they themselves are providing a lot of UI stuff which we talked about implementing; for example switch toggle.

[2021-06-06 23:10] Splitwirez commented on #97
I don't think it makes any sense to forgo a proper Ribbon, but other than that, I'm largely in agreement.

[2022-06-22 22:06] GuildOfCalamity commented on #97
[on Windows 10]
Finally got this to compile after fixing these issues and now when the assembly loads I get this...
![LoadError](https://user-images.githubusercontent.com/81915293/175160326-6e0f8ef6-7f38-43ff-a679-732f5830cd27.png)

[2022-06-25 16:45] waliarubal commented on #97
So good to see people still engaged in this project. I'll get to this in a few days. Good luck guys with fixing stuff.

[2022-08-21 09:53] waliarubal commented on #22
This totally contradicts with the purpose of the project.

[2022-08-21 09:53] #22 closed, assigned to nobody

[2022-08-21 09:54] waliarubal commented on #35
Rewriting the project, this is no more relevant.

[2022-08-21 09:54] #35 closed, assigned to nobody

[2022-08-21 09:56] waliarubal commented on #98
Rewriting the project, this is no more relevant.

[2022-08-21 09:56] #98 closed, assigned to nobody

[2022-08-21 09:57] waliarubal commented on #97
Rewriting the project, this is no more relevant.

[2022-08-21 09:57] #97 closed, assigned to Splitwirez

[2022-08-25 06:32] waliarubal commented on #93
We are rewriting old codebase, this issue is no more relevant.

[2022-08-25 06:32] #93 closed, assigned to nobody

[2022-08-25 06:34] waliarubal commented on #92
We are rewriting old codebase, this issue is no more relevant.

[2022-08-25 06:34] #92 closed, assigned to nobody

[2022-08-25 06:36] waliarubal commented on #65
We are rewriting old codebase, this issue is no more relevant.

[2022-08-25 06:36] #65 closed, assigned to waliarubal

[2022-08-25 06:37] waliarubal commented on #15
We are rewriting old codebase, this issue is no more relevant.

[2022-08-25 06:37] #15 closed

[2022-11-21 17:06] michalss opened #101 "WASM Support"
Hi,

Can you also support wasm please ?

Regards

[2022-11-22 06:38] waliarubal commented on #101
Sure, work can be started on it as well.

Thanks and Regards

Rubal Walia
(Microsoft Certified Professional)
*Phone:* +1 (604) 865 - 1338
*E-mail:* ***@***.***, ***@***.***
*Web:* https://waliarubal.github.io/

On Mon, Nov 21, 2022 at 9:06 AM michalss ***@***.***> wrote:

[2022-11-23 18:58] ArtyIF opened #102 "Make the dev branch the default"
Since the current default branch (`dev-v2`) has pretty much nothing in it, it would make more sense to make the pre-reset `dev` branch the default one.